.env
*.env.local
data/raw/nyc_taxi/*.parquet
data/raw/nyc_taxi/*.csv
data/raw/olist/*.csv
data/exports/*.csv
data/exports/*.xlsx
!data/**/.gitkeep
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.dagster/
dagster_home/
*.duckdb
*.db
tmp_*
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
*.swp
*.swo
mysql_data/
*.twbr
*.tbm
.ipynb_checkpoints/
.Rhistory
.RData
